div
  div.col-sm-12.col-md-6
    div(style="display:inline-block; min-height:290px;")
      datepicker(ng-model="dt", min-date="minDate", show-weeks="true", class="well well-sm", custom-class="getDayClass(date, mode)")
  div.col-sm-12.col-md-6
    div(style="display:inline-block; min-height:290px;")
      datepicker(ng-model="dt", min-date="minDate", show-weeks="true", class="well well-sm", custom-class="getDayClass(date, mode)")
