div
  div.col-xs-4(ng-repeat="list in quickLists")
    ul.list-unstyled
      li(ng-repeat='option in list')
        a.btn.btn-link(ng-click='setQuick(option)', bo-text='option.display', ng-class="{'btn-link': option != quick, 'btn-primary btn-outline': option == quick}") {{option.name}}
