div
  .login-container
    .row
      .col-md-12
        .text-center.m-b-md
          h3 PLEASE LOGIN
          small This is the best dashboard!
        .hpanel
          .panel-body
            form.form(name='form', ng-submit='login(form)', novalidate='')
              .form-group
                label.control-label(for='email') Email
                input.form-control(type='text', name='email', ng-model='user.email' placeholder='example@gmail.com', title='Please enter you email', required='', value='')
                span.help-block.small Your email
              .form-group
                label.control-label(for='password') Password
                input.form-control(type='password', ng-model='user.password', title='Please enter your password', placeholder='******', required='', value='', name='password')
                span.help-block.small Your password
              .form-group.has-error
                p.help-block(ng-show='form.email.$error.required && form.password.$error.required && submitted')
                  | Please enter your email and password.
                p.help-block {{ errors.other }}
              button.btn.btn-success.btn-block(type='submit') Login
              a.btn.btn-default.btn-block(href='/signup') Register
    |     
    .row
      .col-md-12.text-center
        strong The Dashboard
        |  - The best
        br
        |  2015
