div.modal.fade.in
  div.modal-dialog
    script(type="text/ng-template" id="ModalVisualizationSaveContent.html")
      div.modal-content
        div.color-line
      div.modal-header.text-center
        h3.modal-title Save visualization
      div.modal-body
        div.row
          div.col-xs-12
            .form-group
              label.control-label Visualization name
              input.form-control(type="text", ng-model="visualizationName")
      div.modal-footer
        button(type="button", class="btn btn-default btn-outline", data-dismiss="modal", ng-click="cancel()") Close
        button(type="button", class="btn btn-info btn-outline", data-dismiss="modal", ng-click="save()")
          i.fa.fa-floppy-o
          | &nbsp; Save
div(ng-controller="VisualizationEditorTabController")
  .row
    nav(mfb-menu, position="br", effect="slidein", active-icon="ion-navicon-round", resting-icon="ion-navicon-round", toggling-method="click")
      button(mfb-button, icon="ion-record", label="Save", ng-click="saveVisualizationModal()")
      button(mfb-button, icon="ion-play", label="Run visualization", ng-click="runVisualization()") 
  .row
    .col-xs-12
      .hpanel
        tabset
          tab
            tab-heading
              i.fa.fa-television
              &nbsp;
              | Visualization           
            .tab-content
              .panel-body
                .row
                  .visualizator-container                  
                    .col-xs-12
                      visualizator-graphic-editor
          tab
            tab-heading
              i.fa.fa-cog
              &nbsp;
              | Data
            .tab-content
              .panel-body
                .row
                  .visualizator-container
                    .col-xs-12.col-md-6.col-lg-6
                      .hpanel.hyellow
                        .panel-heading
                          i.fa.fa-database
                          &nbsp;
                          | Data
                        | 
                        .panel-body
                          .row
                            .col-xs-12
                              .form-group(style="margin-bottom: 25px;")
                                label.control-label Select datasource         
                                select.form-control.m-b(ng-model="form.datasource", ng-options="datasource.name for datasource in datasources track by datasource.name", ng-change="selectFields(form.datasource)")
                            .col-xs-12
                              .hpanel.hviolet
                                  .panel-heading
                                    .panel-tools
                                      a.showhide
                                        i.fa.fa-chevron-up
                                    | Graph fields
                                  |             
                                  .panel-body
                                    div.row
                                      div.col-md-12.col-xs-12
                                        div.checkbox(ng-repeat="field in fields")
                                          label
                                            input(type="checkbox", ng-model="form.fields[field.name]", ng-click="updateFields(field)")
                                            | {{ field.name }}
                                        .hpanel.hbgorange(style="margin-bottom: 0px;", ng-show="!fields")
                                          .panel-body
                                            .text-center
                                              small No datasource selected
                              .hpanel.horange
                                  .panel-heading
                                    .panel-tools
                                      a.showhide
                                        i.fa.fa-chevron-up
                                    | Operations
                                  |             
                                  .panel-body
                                    acquisitor-operations(chart="{{chartType}}")
                              .hpanel.hred
                                  .panel-heading
                                    .panel-tools
                                      a.showhide
                                        i.fa.fa-chevron-up
                                    | Graph data
                                  |             
                                  .panel-body
                                    visualizator-graphic-data(chart="{{chartType}}")
                    .col-xs-12.col-md-6.col-lg-6
                      .hpanel.hred
                        .panel-heading
                          i.fa.fa-magic
                          &nbsp;
                          | Graph effects
                        | 
                        .panel-body
                          visualizator-graphic-options(chart="{{chartType}}")