.list-group-item-heading {
  margin-top: 0px;
}

.list-group-item-text {
  margin: 0px;
}

a.list-group-item .list-group-item-heading {
  color: #6a6c6f;
}

a.list-group-item i {
  color: #6a6c6f; 
}

.btn-margin {
  margin-left: 5px;
}