.row
  .col-xs-12.col-md-4.col-lg-3.animated-panel.zoomIn(style='animation-delay: 0.4s; -webkit-animation-delay: 0.4s;')
    .hpanel
      div(ng-controller="VisualizationEditorTabController")
        tabset
          tab(heading='Data')           
            .tab-content
              tab-pane.active
                .panel-body
                  .row
                    .col-xs-12
                      .form-group
                        label.control-label Search source         
                        select.form-control.m-b(name='account')
                          option option 1
                          |                 
                          option option 2
                          |                 
                          option option 3
                          |                 
                          option option 4
                      .hpanel.horange
                          .panel-heading
                            .panel-tools
                              a.showhide
                                i.fa.fa-chevron-up
                            | Graphic data
                          |             
                          .panel-body
                            acquisitor-graphic-options(chart="{{chart}}")

                      a.btn.btn-outline.btn-warning2.btn-block(ng-click="makeQuery()") Apply
          tab(heading='Options')           
            .tab-content
              .panel-body
                .row
                  .col-xs-12
                    .form-group
                      label.control-label Search source         
                      select.form-control.m-b(name='account')
                        option option 1
                        |                 
                        option option 2
                        |                 
                        option option 3
                        |                 
                        option option 4
  .col-xs-12.col-md-8.col-lg-9.animated-panel.zoomIn(style='animation-delay: 0.4s; -webkit-animation-delay: 0.4s;')
    .hpanel
      .panel-heading
        .panel-tools
          a.showhide
            i.fa.fa-chevron-up
        | Visualization
      .panel-body
        visualizator-graphic-editor