.row
  .col-lg-12.animated-panel.zoomIn(style='animation-delay: 0.2s; -webkit-animation-delay: 0.2s;')
    .hpanel
        .panel-heading
          .panel-tools
            a.showhide
              i.fa.fa-chevron-up                    
            a.closebox
              i.fa.fa-times
          | Create a new visualization
        |             
        .panel-body
          p.m-b-lg
            | Select the visualization you want and customized it
          |                 
          .list-group
            a.list-group-item(href='#')
              i.fa.fa-3x.fa-area-chart.pull-left
              p.list-group-item-heading 
                strong Area chart
              p.list-group-item-text
              | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.       
            a.list-group-item(href='#')
              i.fa.fa-3x.fa-bar-chart.pull-left
              p.list-group-item-heading 
                strong Vertical bar chart
              p.list-group-item-text
              | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
            a.list-group-item(href='#')
              i.fa.fa-3x.fa-pie-chart.pull-left
              p.list-group-item-heading
                strong Pie chart
              p.list-group-item-text
              | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.