div.modal.fade.in
  div.modal-dialog
    script(type="text/ng-template" id="ModalVisualizationSaveContent.html")
      div.modal-content
        div.color-line
      div.modal-header.text-center
        h3.modal-title Save visualization
      div.modal-body
        div.row
          div.col-xs-12
            .form-group
              label.control-label Visualization name
              input.form-control(type="text", ng-model="visualizationName")
      div.modal-footer
        button(type="button", class="btn btn-default btn-outline", data-dismiss="modal", ng-click="cancel()") Close
        button(type="button", class="btn btn-info btn-outline", data-dismiss="modal", ng-click="save()")
          i.fa.fa-floppy-o
          | &nbsp; Save 
.row
  .col-xs-12.col-md-4.col-lg-3.animated-panel.zoomIn(style='animation-delay: 0.4s; -webkit-animation-delay: 0.4s;')
    .hpanel
      div(ng-controller="VisualizationEditorTabController")
        tabset
          tab(heading='Data')           
            .tab-content
              tab-pane.active
                .panel-body
                  .row
                    .col-xs-12
                      .form-group(style="margin-bottom: 25px;")
                        label.control-label Select datasource         
                        select.form-control.m-b(ng-model="form.datasource", ng-options="datasource.name for datasource in datasources track by datasource.name", ng-change="selectFields(form.datasource)")
                    .col-xs-12
                      .hpanel.hviolet
                          .panel-heading
                            .panel-tools
                              a.showhide
                                i.fa.fa-chevron-up
                            | Graph fields
                          |             
                          .panel-body
                            div.row
                              div.col-md-12.col-xs-12
                                div.checkbox(ng-repeat="field in fields")
                                  label
                                    input(type="checkbox", ng-model="form.fields[field.name]", ng-click="updateFields(field)")
                                    | {{ field.name }}
                                .hpanel.hbgorange(style="margin-bottom: 0px;", ng-show="!fields")
                                  .panel-body
                                    .text-center
                                      small No datasource selected
                      .hpanel.horange
                          .panel-heading
                            .panel-tools
                              a.showhide
                                i.fa.fa-chevron-up
                            | Operations
                          |             
                          .panel-body
                            acquisitor-operations(chart="{{chartType}}")
                      .hpanel.hred
                          .panel-heading
                            .panel-tools
                              a.showhide
                                i.fa.fa-chevron-up
                            | Graph data
                          |             
                          .panel-body
                            visualizator-graphic-data(chart="{{chartType}}")
                      div.pull-right
                        a.btn.btn-info.btn-outline.btn-margin(ng-click="saveVisualizationModal()")
                          i.fa.fa-floppy-o
                          | &nbsp; Save 
                        a.btn.btn-warning2.btn-outline.btn-margin(ng-click="runVisualization()")
                          i.fa.fa-play
                          | &nbsp; Run
          tab(heading='Graph options')           
            .tab-content
              .panel-body
                visualizator-graphic-options(chart="{{chartType}}")
  .col-xs-12.col-md-8.col-lg-9.animated-panel.zoomIn(style='animation-delay: 0.4s; -webkit-animation-delay: 0.4s;')
    .hpanel
      .panel-heading
        .panel-tools
          a.showhide
            i.fa.fa-chevron-up
        | Visualization
      .panel-body
        visualizator-graphic-editor