.row 
  div(ng-repeat="chart in charts")
    .col-xs-12.col-md-6.col-lg-4.animated-panel.zoomIn(style='animation-delay: 0.7s; -webkit-animation-delay: 0.7s;')
      .hpanel.stats
          .panel-body.h-200
            .row
              .col-xs-12
                .stats-title.pull-left
                  h3.text-success {{ chart.title }}
                .stats-icon.pull-right
                  i.text-success.fa-3x(class="{{ chart.icon }}")
              .col-xs-12                 
                .m-t-xl.pull-left
                  span.font-bold.no-margins Description                    
                  br
                  small
                    | {{ chart.description }}
          .panel-footer
            a.btn.btn-outline.btn-success.btn-block(ui-sref="main.visualization.editor({chart: chart.name})") Select