.row
  .col-xs-12.col-md-4.col-lg-3.animated-panel.zoomIn(style='animation-delay: 0.4s; -webkit-animation-delay: 0.4s;')
    .hpanel
      div(ng-controller="VisualizationEditorTabController")
        tabset
          tab(heading='Data')           
            .tab-content
              tab-pane.active
                .panel-body
                  .row
                    .col-xs-12
                      .form-group
                        label.control-label Select datasource         
                        select.form-control.m-b(name='account', ng-model="form.datasource")
                          option(value="t_1") t_1
                          option(value="t_1") t_2
                      .hpanel.horange
                          .panel-heading
                            .panel-tools
                              a.showhide
                                i.fa.fa-chevron-up
                            | Graphic data
                          |             
                          .panel-body
                            acquisitor-graphic-options(chart="{{chartType}}")
                      div.pull-right
                        a.btn.btn-info.btn-outline.btn-margin(ng-click="saveVisualization()")
                          i.fa.fa-floppy-o
                          | &nbsp; Save 
                        a.btn.btn-warning2.btn-outline.btn-margin(ng-click="runVisualization()")
                          i.fa.fa-play
                          | &nbsp; Run
          tab(heading='Options')           
            .tab-content
              .panel-body
                visualizator-graphic-options
  .col-xs-12.col-md-8.col-lg-9.animated-panel.zoomIn(style='animation-delay: 0.4s; -webkit-animation-delay: 0.4s;')
    .hpanel
      .panel-heading
        .panel-tools
          a.showhide
            i.fa.fa-chevron-up
        | Visualization
      .panel-body
        visualizator-graphic-editor