accordion(close-others="true")
  accordion-group(heading="Y-Axis")
    div.row
      div.col-xs-12
        a.btn.btn-default.btn-outline.btn-block.btn-sm
          i.fa.fa-plus-circle
          | &nbsp; Add data
    //- accordion
    //-   accordion-group(heading="aggregations")
    //-     div.row
    //-       div.col-xs-12
    //-         .form-group
    //-           label.control-label Aggregation
    //-           select.form-control.m-b(ng-model="form.y.aggregations[0].type")
    //-             option(value="count") Count
    //-             option(value="avg") Average
    //-             option(value="sum") Sum
    //-             option(value="timeseries") TimeSeries
    //-         .form-group
    //-           label.control-label Field      
    //-           select.form-control.m-b(ng-model="form.y.aggregations[0].field")
    //-             option(value="metric") metric
    //-             option(value="quantity") quantity
    //-             option(value="type") type
    //-             option(value="ts") ts
    //-       div.col-xs-12
    //-         a.btn.btn-default.btn-outline.btn-block.btn-sm
    //-           i.fa.fa-plus-circle
    //-           | &nbsp; Add new
  accordion-group(heading="X-Axis")
    div.row
      div.col-xs-12
        a.btn.btn-default.btn-outline.btn-block.btn-sm
          i.fa.fa-plus-circle
          | &nbsp; Add data
    //- accordion
    //-   accordion-group(heading="aggregations")
    //-     div.row
    //-       div.col-xs-12
    //-         .form-group
    //-           label.control-label Aggregation
    //-           select.form-control.m-b(ng-model="form.x.aggregations[0].type")
    //-             option(value="count") Count
    //-             option(value="avg") Average
    //-             option(value="sum") Sum
    //-             option(value="timeseries") TimeSeries
    //-         .form-group
    //-           label.control-label Field      
    //-           select.form-control.m-b(ng-model="form.x.aggregations[0].field")
    //-             option(value="metric") metric
    //-             option(value="quantity") quantity
    //-             option(value="type") type
    //-             option(value="ts") ts
    //-       div.col-xs-12
    //-         a.btn.btn-default.btn-outline.btn-block.btn-sm
    //-           i.fa.fa-plus-circle
    //-           | &nbsp; Add new