#visualization-chart-editor
  div.vertical-center.text-center
    h3
      i.fa.fa-chain-broken
      br
      span No results
    p
      | To make a visualization, click in the
      &nbsp;
      i.fa.fa-cog 
      b Data 
      | button