.row
  .col-xs-12
    .form-group
      label.control-label Allow Ease up  
      select.form-control.m-b(
        ng-model="graphicOptions.transform", 
        ng-change="changeGraphicOptions({option: 'transform', restart: false}, graphicOptions.transform)",
      )
        option(value="area-spline") Yes
        option(value="area") No
    .form-group
      label.control-label Allow zoom
      select.form-control.m-b(
        ng-model="graphicOptions.zoom", 
        ng-change="changeGraphicOptions({option: 'zoom', restart: true}, graphicOptions.zoom)",
      )
        option(value=1) Yes
        option(value=0) No