.row
  .col-xs-12.col-md-offset-4.col-md-4.animated-panel.zoomIn(style='animation-delay: 0.7s; -webkit-animation-delay: 0.7s;')
    //- .hpanel.hbggreen
    //-   .panel-body
    //-     .text-center
    //-       i.fa.fa-desktop.fa-5x
    //-       h3 Create a new dashboard                     
    //-       small
    //-         | To add a visualization, click the "Add visualization" button
    .hpanel
      .panel-body
        .text-center
              h2.m-b-xs Create a new dashboard
              .m
                i.fa.fa-desktop.fa-5x
              p.small
                | To add a visualization, click the "Add visualization" button
