.row
  .col-xs-12
    div(gridster="gridsterOpts")
      ul
        li(gridster-item="item", ng-repeat="item in standardItems", id="_{{item.id}}")
          .hpanel
            .panel-heading.hbuilt
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                |                     
                a.closebox
                  i.fa.fa-times
              | Example
            .panel-body
              div(id="{{ item.id }}")

