div(ui-view="main")
  #header(ng-controller="HeaderController")
    .color-line
    #logo.light-version
      a(ui-sref="main.dashboard") 
        strong The dashboard
           
    nav(role='navigation')
      .header-link.hide-menu
        i.fa.fa-bars
      |         
      .small-logo
        span.text-primary The dashboard
      |         
      .navbar-right
        ul.nav.navbar-nav.no-borders
          li
            a.toggle-time-filter(ng-click="toggleTimeFilter()")
              i.fa.fa-clock-o
              span.time-filter {{timeFilterText}}
          li.dropdown
            a.dropdown-toggle.label-menu-corner(href='#', data-toggle='dropdown')
              i.fa.fa-bell-o
              span.label.label-danger 3
            |                     
            ul.dropdown-menu.hdropdown.notification.animated.flipInX
              li
                a
                  span.label.label-success NEW
                  |  It is a long established.
              |                         
              li
                a
                  span.label.label-warning WAR
                  |  There are many variations.
              |                         
              li
                a
                  span.label.label-danger ERR
                  |  Contrary to popular belief.
              |                         
              li.summary
                a(href='#') See all alerts

  aside#menu(ng-controller="MenuController")
      #navigation
          .profile-picture
            a(href='#')
              img.img-circle.m-b.img-responsive(src='https://avatars2.githubusercontent.com/u/592484?v=3&s=460', alt='logo')
            |             
            .stats-label.text-color
              span.font-extra-bold.font-uppercase {{ user.name }}
              .dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='false')
                  small.text-muted
                    | Ugly developer at Mallorca
                    b.caret
                  |                     
                ul.dropdown-menu.animated.flipInX.m-t-xs
                  li
                    a(href='contacts.html') Contacts
                  |                         
                  li
                    a(href='profile.html') Profile
                  |                         
                  li
                    a(href='analytics.html') Analytics
                  |                         
                  li.divider
                  |                         
                  li
                    a(href='', ng-click='logout()') Logout
          |         
          ul#side-menu.nav.metismenu
            li
              a(ui-sref='main.home')
                span.nav-label Home
                span.arrow
                  i.fa.fa-tachometer
            li
              a
                span.nav-label Dashboards
                span.arrow
                  i.fa.fa-desktop
              |                 
              ul.nav.nav-second-level
                li
                  a(ui-sref='main.dashboard.create') Create
                    span.arrow
                      i.fa.fa-plus-square-o
                |                     
                li
                  a(ui-sref='main.dashboard.open') Open
                    span.arrow
                      i.fa.fa-folder-open-o
            li
              a
                span.nav-label Visualizations
                span.arrow
                  i.fa.fa-eye
              |                 
              ul.nav.nav-second-level
                li
                  a(ui-sref-active="active", ui-sref="main.visualization.new") Create
                    span.arrow
                      i.fa.fa-plus-square-o
                |                     
                li
                  a(ui-sref-active="active", ui-sref="main.visualization.open") Open
                    span.arrow
                      i.fa.fa-folder-open-o
            |             
            li
              a(ui-sref='main.settings')
                span.nav-label Settings
                span.arrow
                  i.fa.fa-sliders

  #wrapper
    div(ng-include='"components/time-filter/time_filter.html"')

    .normalheader.transition.animated.fadeIn.small-header
      .hpanel
          .panel-body          
            #hbreadcrumb.pull-right
              div.hbreadcrumb(ncy-breadcrumb)
            h2.font-light.m-b-xs
              | {{ sectionName }}
            |             
            small {{ sectionDescription }}
    .content.animate-panel
      div(ui-view="section-view")