//- div(ng-include='"components/navbar/navbar.html"')

//- header#banner.hero-unit
//-   .container
//-     h1 'Allo, 'Allo!
//-     p.lead Kick-start your next web app with Angular Fullstack
//-     img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

//- .container
//-   .row
//-     .col-lg-12
//-       h1.page-header Features:
//-       ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in awesomeThings')
//-         li
//-           a(href='#', tooltip='{{thing.info}}')
//-             | {{thing.name}}
//-             button.close(type='button', ng-click='deleteThing(thing)') ×

//-   form.thing-form
//-     label Syncs in realtime across clients
//-     p.input-group
//-       input.form-control(type='text', placeholder='Add a new thing here.', ng-model='newThing')
//-       span.input-group-btn
//-         button.btn.btn-primary(type='submit', ng-click='addThing()') Add New

//- footer.footer
//-   .container
//-     p
//-       | Angular Fullstack v2.0.13
//-       = ' | '
//-       a(href='https://twitter.com/tyhenkel') @tyhenkel
//-       = ' | '
//-       a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues
div(ui-view="main")
  #header
    .color-line
    #logo.light-version
      a(ui-sref="main") 
        strong The dashboard
           
    nav(role='navigation')
      .header-link.hide-menu
        i.fa.fa-bars
      |         
      .small-logo
        span.text-primary The dashboard
      |         
      .navbar-right
        ul.nav.navbar-nav.no-borders
          li
            a
              i.fa.fa-clock-o
              span.time-filter Last 1 hour
          li.dropdown
            a.dropdown-toggle.label-menu-corner(href='#', data-toggle='dropdown')
              i.fa.fa-bell-o
              span.label.label-danger 3
            |                     
            ul.dropdown-menu.hdropdown.notification.animated.flipInX
              li
                a
                  span.label.label-success NEW
                  |  It is a long established.
              |                         
              li
                a
                  span.label.label-warning WAR
                  |  There are many variations.
              |                         
              li
                a
                  span.label.label-danger ERR
                  |  Contrary to popular belief.
              |                         
              li.summary
                a(href='#') See all alerts

  aside#menu
      #navigation
          .profile-picture
            a(href='#')
              img.img-circle.m-b.img-responsive(src='https://avatars2.githubusercontent.com/u/592484', alt='logo')
            |             
            .stats-label.text-color
              span.font-extra-bold.font-uppercase Sergio Soto
              div
                small.text-muted Senior developer at WT
          |         
          ul#side-menu.nav.metismenu
            li
              a(ui-sref='main')
                span.nav-label Dashboards
                span.arrow
                  i.fa.fa-desktop
              |                 
              ul.nav.nav-second-level
                li
                  a Create
                    span.arrow
                      i.fa.fa-plus-square-o
                |                     
                li
                  a Open
                    span.arrow
                      i.fa.fa-folder-open-o
                |                     
                li
                  a Save
                    span.arrow
                      i.fa.fa-floppy-o
                |                     
                li
                  a Add widget
                    span.arrow
                      i.fa.fa-cube
            |             
            li
              a(href='#')
                span.nav-label Visualizations
                span.arrow
                  i.fa.fa-eye
              |                 
              ul.nav.nav-second-level
                li
                  a(ui-sref-active="active", ui-sref="main.visualization.new") Create
                    span.arrow
                      i.fa.fa-plus-square-o
                |                     
                li
                  a Open
                    span.arrow
                      i.fa.fa-folder-open-o
            |             
            li
              a(ui-sref='main.settings')
                span.nav-label Settings
                span.arrow
                  i.fa.fa-sliders

  #wrapper
      .normalheader.transition.animated.fadeIn.small-header
        .hpanel
            .panel-body          
              #hbreadcrumb.pull-right
                div.hbreadcrumb(ncy-breadcrumb)
              h2.font-light.m-b-xs
                | {{ sectionName }}
              |             
              small {{ sectionDescription }}
      .content.animate-panel
        div(ui-view="section-view")
          .row
            .col-xs-12
              div(gridster="gridsterOptions")
                ul
                  li(gridster-item="item" ng-repeat="item in standardItems")
                    .hpanel
                      .panel-heading.hbuilt
                        .panel-tools
                          a.showhide
                            i.fa.fa-chevron-up
                          |                     
                          a.closebox
                            i.fa.fa-times
                        | Example
                      .panel-body
            //- .col-lg-3.col-md-4.col-xs-12.animated-panel.zoomIn(style='animation-delay: 0.1s; -webkit-animation-delay: 0.1s;')
            //-   .hpanel
            //-     .panel-heading.hbuilt
            //-       .panel-tools
            //-         a.showhide
            //-           i.fa.fa-chevron-up
            //-         |                     
            //-         a.closebox
            //-           i.fa.fa-times
            //-       | Example
            //-     .panel-body
            //- .col-lg-3.col-md-4.col-xs-12.animated-panel.zoomIn(style='animation-delay: 0.1s; -webkit-animation-delay: 0.1s;')
            //-   .hpanel
            //-     .panel-heading.hbuilt
            //-       .panel-tools
            //-         a.showhide
            //-           i.fa.fa-chevron-up
            //-         |                     
            //-         a.closebox
            //-           i.fa.fa-times
            //-       | Example
            //-     .panel-body
            //- .col-lg-3.col-md-4.col-xs-12.animated-panel.zoomIn(style='animation-delay: 0.1s; -webkit-animation-delay: 0.1s;')
            //-   .hpanel
            //-     .panel-heading.hbuilt
            //-       .panel-tools
            //-         a.showhide
            //-           i.fa.fa-chevron-up
            //-         |                     
            //-         a.closebox
            //-           i.fa.fa-times
            //-       | Example
            //-     .panel-body
            //- .col-lg-3.col-md-4.col-xs-12.animated-panel.zoomIn(style='animation-delay: 0.1s; -webkit-animation-delay: 0.1s;')
            //-   .hpanel
            //-     .panel-heading.hbuilt
            //-       .panel-tools
            //-         a.showhide
            //-           i.fa.fa-chevron-up
            //-         |                     
            //-         a.closebox
            //-           i.fa.fa-times
            //-       | Example
            //-     .panel-body
            //- .col-lg-3.col-md-4.col-xs-12.animated-panel.zoomIn(style='animation-delay: 0.1s; -webkit-animation-delay: 0.1s;')
            //-   .hpanel
            //-     .panel-heading.hbuilt
            //-       .panel-tools
            //-         a.showhide
            //-           i.fa.fa-chevron-up
            //-         |                     
            //-         a.closebox
            //-           i.fa.fa-times
            //-       | Example
            //-     .panel-body
            //- .col-lg-3.col-md-4.col-xs-12.animated-panel.zoomIn(style='animation-delay: 0.1s; -webkit-animation-delay: 0.1s;')
            //-   .hpanel
            //-     .panel-heading.hbuilt
            //-       .panel-tools
            //-         a.showhide
            //-           i.fa.fa-chevron-up
            //-         |                     
            //-         a.closebox
            //-           i.fa.fa-times
            //-       | Example
            //-     .panel-body
            //- .col-lg-3.col-md-4.col-xs-12.animated-panel.zoomIn(style='animation-delay: 0.1s; -webkit-animation-delay: 0.1s;')
            //-   .hpanel
            //-     .panel-heading.hbuilt
            //-       .panel-tools
            //-         a.showhide
            //-           i.fa.fa-chevron-up
            //-         |                     
            //-         a.closebox
            //-           i.fa.fa-times
            //-       | Example
            //-     .panel-body
            //- .col-lg-3.col-md-4.col-xs-12.animated-panel.zoomIn(style='animation-delay: 0.1s; -webkit-animation-delay: 0.1s;')
            //-   .hpanel
            //-     .panel-heading.hbuilt
            //-       .panel-tools
            //-         a.showhide
            //-           i.fa.fa-chevron-up
            //-         |                     
            //-         a.closebox
            //-           i.fa.fa-times
            //-       | Example
            //-     .panel-body

