accordion(close-others="true")
  accordion-group(heading="y-axis")
    .form-group
      label.control-label Aggregationnnnnn      
      select.form-control.m-b(ng-model="form.y.aggregation")
        option option 1
        |                 
        option option 2
        |                 
        option option 3
        |                 
        option option 4
    .form-group
      label.control-label Field      
      select.form-control.m-b(ng-model="form.y.field")
        option option 1
        |                 
        option option 2
        |                 
        option option 3
        |                 
        option option 4
  accordion-group(heading="x-axis")
    .form-group
      label.control-label Aggregation      
      select.form-control.m-b(ng-model="form.x.aggregation")
        option option 1
        |                 
        option option 2
        |                 
        option option 3
        |                 
        option option 4
    .form-group
      label.control-label Field      
      select.form-control.m-b(ng-model="form.x.field")
        option option 1
        |                 
        option option 2
        |                 
        option option 3
        |                 
        option option 4