#accordion.panel-group(role='tablist', aria-multiselectable='true')
  .panel.panel-default
      #headingOne.panel-heading(role='tab')
        h4.panel-title
          a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='false', aria-controls='collapseOne')
            | Y-Axis
      |                         
      #collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne', aria-expanded='false', style='height: 0px;')
        .panel-body
          | A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
  |                     
  .panel.panel-default
    #headingTwo.panel-heading(role='tab')
      h4.panel-title
        a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
          | X-Axis
    |                         
    #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo', aria-expanded='false')
      .panel-body
        | A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.

accordion.panel-group(close-others="true")
  accordion-group(heading="Dynamic Body Content")
    p The body of the accordion group grows to fit the contents