.row
  .col-xs-12.col-md-9.col-lg-9.animated-panel.zoomIn(style='animation-delay: 0.4s; -webkit-animation-delay: 0.4s;')
    .hpanel
      div(ng-controller="SettingsTabController")
        tabset
          tab(heading='General')           
            .tab-content
              .panel-body
                .row
                  .col-xs-12
          tab(heading='Plugins')            
            .tab-content
              tab-pane.active
                .panel-body
                  .hpanel.horange
                    .panel-heading
                      .panel-tools
                        a.showhide
                          i.fa.fa-chevron-up
                      | Acquisition
                    |             
                    .panel-body
                      .form-group
                        label.control-label Select the acquisition plugin  
                        select.form-control.m-b(ng-model="plugins.acquisitors", ng-change="acquisitorSelectChange()")
                          option(ng-repeat="acquisitor in plugins.acquisitors track by $index" ng-selected="{{acquisitor.pluginName == plugins.acquisitorActive}}" value="{{acquisitor.pluginName}}") {{acquisitor.pluginTitle}}
                  .hpanel.horange
                    .panel-heading
                      .panel-tools
                        a.showhide
                          i.fa.fa-chevron-up
                      | Visualization
                    |             
                    .panel-body
                      .form-group
                        label.control-label Select the visualization plugin  
                        select.form-control.m-b(ng-model="plugins.visualizators", ng-change="visualizatorSelectChange()")
                          option(ng-repeat="visualizator in plugins.visualizators track by $index" ng-selected="{{visualizator.pluginName == plugins.visualizatorActive}}" value="{{visualizator.pluginName}}") {{visualizator.pluginTitle}}
  .col-md-3.col-lg-3.col-xs-12
    .row
      .col-md-12.col-lg-12.col-xs-12.animated-panel.zoomIn(style='animation-delay: 0.9s; -webkit-animation-delay: 0.9s;')
        .hpanel.hbgblue
            .panel-body
              .text-center
                h3 Dashboards
                |                             
                p.text-big.font-light
                  | 160
                |                             
                small
                  | Dashboards available
      .col-md-12.col-lg-12.col-xs-12.animated-panel.zoomIn(style='animation-delay: 0.9s; -webkit-animation-delay: 0.9s;')
        .hpanel.hbggreen
            .panel-body
              .text-center
                h3 Visualizations
                |                             
                p.text-big.font-light
                  | 547
                |                             
                small
                  | Visualizations available
      .col-md-12.col-lg-12.col-xs-12.animated-panel.zoomIn(style='animation-delay: 1.3s; -webkit-animation-delay: 1.3s;')
        .hpanel
            .panel-body
              .table-responsive
                table.table.table-striped
                  thead
                    tr
                      th Alert
                      |                                     
                      th Date
                  |                                 
                  tbody
                    tr
                      td
                        span.text-danger.font-bold Lorem ipsum
                      |                                     
                      td Jul 14, 2015
                    |                                 
                    tr
                      td
                        span.text-danger.font-bold Lorem ipsum
                      |                                     
                      td Jul 09, 2015
                    |                                 
                    tr
                      td
                        span.text-danger.font-bold Lorem ipsum
                      |                                     
                      td Jul 02, 2015



