.table.dashboards .checkbox {
	margin: 0;
}

.checkbox .select-all {
	padding-left: 28px;
}

.table.dashboards .min {
	padding-left: 2px;
	padding-right: 2px;
}

.delete-btn {
	margin-left: 8px;
	margin-top: 8px;
}