accordion(close-others="true")
  accordion-group(heading="y-axis options")
    accordion
      accordion-group(heading="aggregations")
        div.row
          div.col-xs-12
            .form-group
              label.control-label Aggregation
              select.form-control.m-b(ng-model="form.y.aggregation.type")
                option(value="count") Count
                option(value="avg") Average
                option(value="sum") Sum
            .form-group
              label.control-label Field      
              select.form-control.m-b(ng-model="form.y.aggregation.field")
                option(value="metric") metric
                option(value="quantity") quantity
                option(value="type") type
                option(value="ts") ts
          div.col-xs-12
            a.btn.btn-default.btn-outline.btn-block.btn-sm
              i.fa.fa-plus-circle
              | &nbsp; Add new aggregation
  accordion-group(heading="x-axis options")
    accordion
      accordion-group(heading="aggregations")
        div.row
          div.col-xs-12
            .form-group
              label.control-label Aggregation
              select.form-control.m-b(ng-model="form.x.aggregation.type")
                option(value="count") Count
                option(value="avg") Average
                option(value="sum") Sum
            .form-group
              label.control-label Field      
              select.form-control.m-b(ng-model="form.x.aggregation.field")
                option(value="metric") metric
                option(value="quantity") quantity
                option(value="type") type
                option(value="ts") ts
          div.col-xs-12
            a.btn.btn-default.btn-outline.btn-block.btn-sm
              i.fa.fa-plus-circle
              | &nbsp; Add new aggregation
  accordion-group(heading="Order options")
    div.row
      div.col-xs-12
        .form-group
          label.control-label Aggregation
          select.form-control.m-b(ng-model="form.order.aggregation")
            option(value="agg1") agg1
            option(value="agg2") agg2
        .form-group
          label.control-label Type      
          select.form-control.m-b(ng-model="form.order.type")
            option(value="desc") Desc
            option(value="asc") Asc
  accordion-group(heading="Limit options")
    div.row
      div.col-xs-12
        .form-group
          label.control-label Limit
          input.form-control(type="number", ng-model="form.limit")